<ion-header>
  <ion-toolbar>
    <ion-title>Manage Departments</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Search</ion-label>
    <ion-input [(ngModel)]="searchTerm" (ionInput)="filterDepartments()"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="openCreateModal()">Create Department</ion-button>

  <ion-grid>
    <ion-row class="header">
      <ion-col>ID</ion-col>
      <ion-col>Name</ion-col>
      <ion-col>Actions</ion-col>
    </ion-row>
    <ion-row *ngFor="let department of filteredDepartments">
      <ion-col>{{department.id}}</ion-col>
      <ion-col>{{department.name}}</ion-col>
      <ion-col>
        <ion-button (click)="openEditModal(department)">Edit</ion-button>
        <ion-button color="danger" (click)="deleteDepartment(department)">Delete</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
