<ion-header>
  <ion-toolbar>
    <ion-title>Manage Departments</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="filterDepartments()" placeholder="Search Department" color="light"></ion-searchbar>

  <ion-button expand="block" (click)="openCreateModal()" color="secondary" class="create-button">
    <ion-icon slot="start" name="add-circle-outline"></ion-icon> Create Department
  </ion-button>

  <ion-grid>
    <ion-row class="header">
      <ion-col class="header-col">Name</ion-col>
      <ion-col class="header-col">Actions</ion-col>
    </ion-row>
    <ion-row *ngFor="let department of filteredDepartments" class="department-row">
      <ion-col>{{ department.name }}</ion-col>
      <ion-col class="actions-col">
        <ion-button fill="clear" color="tertiary" (click)="openEditModal(department)"  class="action-button">Edit</ion-button>
        <ion-button fill="clear" color="danger" (click)="deleteDepartment(department)" class="action-button">Delete</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>