<ion-header>
  <ion-toolbar>
    <ion-title>Manage Clinical Records</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Display Patient Name -->
  <div *ngIf="patient" class="patient-name">
    <h2>Patient Name: {{ patient.firstName }} {{ patient.lastName }}</h2>
  </div>

  <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="filterClinicalRecords()" placeholder="Search Clinical Data"></ion-searchbar>
  <ion-button expand="block" (click)="openCreateModal()">Add New Clinical Data</ion-button>

  <ion-grid *ngIf="filteredClinicalRecords && filteredClinicalRecords.length > 0">
    <ion-row class="header">
      <ion-col>#</ion-col>
      <ion-col>Diagnosis</ion-col>
      <ion-col>Actions</ion-col>
    </ion-row>
    <ion-row *ngFor="let record of filteredClinicalRecords; let i = index">
      <ion-col>{{ i + 1 }}</ion-col>
      <ion-col>{{ record.clinicalRecord }}</ion-col>
      <ion-col>
        <ion-button (click)="openEditModal(record)">Edit</ion-button>
        <ion-button color="danger" (click)="deleteClinicalRecord(record)">Delete</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card *ngIf="filteredClinicalRecords && filteredClinicalRecords.length === 0">
    <ion-card-header>
      <ion-card-title>No Clinical Records Available</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>