<ion-header>
  <ion-toolbar>
    <ion-title>Manage Admissions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Display Patient Name -->
  <div *ngIf="patient" class="patient-name">
    <h2>Patient Name: {{ patient.name }}</h2>
  </div>

  <!-- Search Bar -->
  <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="filterDepartments()" placeholder="Search Department" color="light"></ion-searchbar>

  <!-- Departments List -->
  <ion-list>
    <ion-item *ngFor="let department of filteredDepartments">
      <ion-label>{{ department.name }}</ion-label>
      <ion-button 
        *ngIf="!currentAdmission || currentAdmission.departmentId !== department.id" 
        (click)="openAdmitModal(department.id)">
        Admit
      </ion-button>
      <ion-button 
        *ngIf="currentAdmission && currentAdmission.departmentId === department.id" 
        color="success" disabled>
        Admitted
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
