<ion-header>
  <ion-toolbar>
    <ion-title>Manage Admissions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="header">
      <ion-col>Department</ion-col>
      <ion-col>Actions</ion-col>
    </ion-row>
    <ion-row *ngFor="let department of departments">
      <ion-col>{{department.name}}</ion-col>
      <ion-col>
        <ion-button *ngIf="!currentAdmission || currentAdmission.departmentId !== department.id" expand="block" (click)="openAdmitModal(department.id)">
          Admit
        </ion-button>
        <ion-button *ngIf="currentAdmission && currentAdmission.departmentId === department.id" expand="block" (click)="openTransferModal(department.id)">
          Transfer
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
