<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/manage-patients"></ion-back-button>
    </ion-buttons>
    <ion-title>Manage Admissions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Display Patient Name -->
  <div *ngIf="patient" class="patient-name">
    <h2>Patient Name: {{ patient.firstName }} {{ patient.lastName }}</h2>
  </div>

  <!-- Search Bar -->
  <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="filterDepartments()" placeholder="Search Department" color="light"></ion-searchbar>

  <!-- Departments List -->
  <ion-list>
    <ion-item *ngFor="let department of filteredDepartments">
      <ion-label>{{ department.departmentName }}</ion-label>
      <ion-button 
      *ngIf="!this.patient.department?.departmentName || this.patient.department?.id !== department.id"
      (click)="openAdmitModal(department.id)">
        Admit
      </ion-button>
      <ion-button   
        *ngIf="this.patient.department?.departmentName && this.patient.department?.id === department.id" 
        color="success" disabled>
        Admitted
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
