ion-content {
  --background: #f0f0f5;
    padding: 16px;
}

ion-searchbar {
  --background: #ffffff;
  --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

ion-grid {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

ion-row {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
}

ion-row:last-child {
  border-bottom: none;
}

ion-col {
  padding: 8px 16px;
  text-align: left;
}

ion-row.header {
  background-color: #f9f9f9;
  font-weight: bold;
}

ion-row.header ion-col {
  border-bottom: 2px solid #e0e0e0;
}

ion-col:first-child {
  border-left: none;
}

ion-col:last-child {
  border-right: none;
}

ion-button {
  margin: 5px;
}

ion-item {
  margin-bottom: 16px;
}