<ion-header>
  <ion-toolbar>
    <ion-title>Manage Patients</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="header">
      <ion-col>ID</ion-col>
      <ion-col>Name</ion-col>
      <ion-col>Age</ion-col>
      <ion-col>Department</ion-col>
    </ion-row>
    <ion-row *ngFor="let patient of patients">
      <ion-col>{{patient.id}}</ion-col>
      <ion-col>{{patient.name}}</ion-col>
      <ion-col>{{patient.age}}</ion-col>
      <ion-col>{{patient.department}}</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
