<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Manage Patients</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="filterPatients()" placeholder="Search Patient" color="light"></ion-searchbar>

  <ion-button expand="block" (click)="openCreateModal()" color="secondary" class="create-button">
    <ion-icon slot="start" name="add-circle-outline"></ion-icon>Create Patient
  </ion-button>

  <ion-grid>
    <ion-row class="header">
      <ion-col>Name</ion-col>
      <ion-col>Birth Date</ion-col>
      <ion-col>Department</ion-col>
      <ion-col>Actions</ion-col>
    </ion-row>
    <ion-row *ngFor="let patient of filteredPatients">
      <ion-col>{{ patient.firstName }} {{ patient.lastName }}</ion-col>
      <ion-col>{{ patient.birthDate }}</ion-col>
      <ion-col>{{ patient?.department?.departmentName ?? 'No Department Assigned' }}</ion-col>
      <ion-col class="actions-col">
        <div class="icon-buttons">
          <ion-button fill="clear" color="tertiary" (click)="openEditModal(patient)" class="action-button">
            <ion-icon slot="icon-only" name="create-outline"></ion-icon>
          </ion-button>
          <ion-button fill="clear" color="danger" (click)="deletePatient(patient)" class="action-button">
            <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
          </ion-button>
        </div>
        <ion-button (click)="navigateToManageClinicalRecords(patient.id)">Records</ion-button>
        <ion-button (click)="navigateToManageAdmissions(patient.id)">Admissions</ion-button>
        <ion-button color="warning" (click)="openDischargeModal(patient)">Discharge</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>