<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Polis Healthy Hospital
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Polis Healthy Hospital</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button expand="full" [routerLink]="['/manage-departments']">
      Manage Departments
    </ion-button>
    <ion-button expand="full" [routerLink]="['/manage-patients']">
      Manage Patients
    </ion-button>
  </div>
</ion-content>
